@import url(./assets/css/grid-variables.css);
@import url(./assets/css/header.css);
@import url(./assets/css/primary-navbar.css);
@import url(./assets/css/secondary-navbar.css);
@import url(./assets/css/main.css);
@import url(./assets/css/news.css);
@import url(./assets/css/browse.css);
@import url(./assets/css/card-decks.css);
@import url(./assets/css/decks.css);
@import url(./assets/css/footer.css);

/* generals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text2);
    background-color: var(--color3);
}