footer {
    position: sticky;
    bottom: 0;
    background-color: var(--color1);
}

.footer__navbar {
    display: flex;
    justify-content: space-evenly;
}

.material-symbols-outlined {
    padding: 0.5em 0.7em;
}

.material-symbols-outlined:hover {
    border-top: solid var(--button) 3px;
    color: var(--button);
}