:root {
    --color1: #171a21;
    --color2: #1b2838;
    --color3: #2a475e;
    --color4: #66c0f4;
    --text: #ffffff;
    --text2: #c7d5e0;
    --wallet: rgb(55, 158, 253);
    --back-bar: rgb(48, 48, 62);
    --button: rgb(26, 144, 255);
}